.footer-button, .form-send-button{
  //box-shadow: 2px 2px 5px rgba(150, 150, 150, 1);
  text-shadow: 2px 2px 5px rgba(150, 150, 150, 1);
  position: fixed;
  text-decoration: none;
  right: 50px;
  bottom: 50px;
  display: inline;
  width: 70px;
  height: 70px;
  line-height: 30px;
  border: none;
  border-radius: 50%;
  color: white;
  text-align: center;
  background: darkred;
  font-size: 26px;
  font-weight: bold;
  margin: 10px;
  z-index: 2;
}
.footer-button-label{
  text-decoration: none;
  outline: none;
}
.footer-button:link ,.form-send-button:link{
  text-decoration: none;
}
.form{
  width: 400px;
  margin: auto;
}
.form-label{
  margin: 20px;
  text-align: right;
  text-transform: capitalize;
  color: black;
  display: inline-block;
  width: 100px;
  font-size: 15px;
  font-weight: bold;
  position: absolute;
}
.form-textarea, {
  width: 250px;
  margin: 0;
  display: inline-block;
}
.form-select{
  width: 100px;
  margin: 0;
  display: inline-block;
}
.form-send{
  display: block;
  text-align: center;
}
.footer {
  background-color: black;
	color: white;
	height: 100px;
	line-height: 100px;
	text-align: center;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  text-align: center;
}
