body#cv{
  background-color: lightgrey;
  background-repeat: repeat;
  text-align: center;
  list-style: none;
}
h1#name{
  font-family: Arial;
  font-size: 30px;
  font-style: italic;
}
ul#list{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
img#image{
  border-radius: 90%;
  width: 23%;
}
div#Presentation {
  background-color: darkgrey;
  border: 4px solid #ddd;
  border-radius: 1%;
  box-shadow: 0 0 4px 1px rgba(255, 255, 255, 0.5);
  padding: 2%;
  font-size: 15px;
  font-family: Arial;
  text-align: center;
}
div#Ecoles {
  background-color: darkgrey;
  border: 4px solid #ddd;
  border-radius: 1%;
  box-shadow: 0 0 4px 1px rgba(255, 255, 255, 0.5);
  padding: 2%;
  font-size: 15px;
  font-family: Arial;
  text-align: center;
}
div#competences {
  background-color: darkgrey;
  border: 4px solid #ddd;
  border-radius: 1%;
  box-shadow: 0 0 4px 1px rgba(255, 255, 255, 0.5);
  padding: 2%;
  font-size: 15px;
  font-family: Arial;
  text-align: center;
}
div#loisirs {
  background-color: darkgrey;
  border: 4px solid #ddd;
  border-radius: 1%;
  box-shadow: 0 0 4px 1px rgba(255, 255, 255, 0.5);
  padding: 2%;
  font-size: 15px;
  font-family: Arial;
  text-align: center;
}
