.tasklist{
  padding: 2px;
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
}
.tasklist li.isdone span{
  text-decoration: line-through;
}
.tasklist li:nth-child(even){
  background: #dddddd;
}
.tasklist li:hover{
  background: #cccccc;
}
.tasklist-head{
background-color: darkgrey;
padding-top: 10px;
padding: 4px;
font-size: 15px;
text-transform: capitalize;
font-weight:bold;
list-style-type:none;
}
.tasklist-body{
  font-size: 15px;
  padding: 4px;
  font-family: 'Lato', serif;
  padding-top:10px;
  padding-bottom: 10px;
  list-style-type:none;

}
.tasklist-item-id{
  display: inline-block;
  width: 50px;
}
.tasklist-item-description{
  text-align: center;
  display: inline-block;
  width: 150px;
}
.tasklist-item-createdate{
  display: inline-block;
  width: 80px;
}
.tasklist-item-date{
  display: inline-block;
  width: 80px;
}
.tasklist-item-status{
  display: inline-block;
  width: 60px;
}
.tasklist-item-authorname{
  display: inline-block;
  width: 150px;
}
.tasklist-item-assigneename{
  display: inline-block;
  width: 150px;
}
.tasklist-item-priority{
  text-align: center;
  display: inline-block;
  width: 60px;
}

.tasklist-item-finish{
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 50%;
}
.tasklist-item-finish:hover{
  background-color: #8FBC8F;
}
.tasklist-item-update{
  display: inline-block;
  width: 40px;
}
.tasklist-item-delete{
  display: inline-block;
  width: 40px;
}
.tasklist-item-refresh{
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 70%;
}
.tasklist-item-refresh:hover{
    background-color: #F08080;
}
.tasklist-item-erase{
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 70%;
}
.tasklist-item-erase:hover{
  background-color: #F08080;
}

.form{
  width: 400px;
  margin: auto;
}
.form-label{
  margin: 20px;
  text-align: right;
  text-transform: capitalize;
  color: black;
  display: inline-block;
  width: 100px;
  font-size: 15px;
  font-weight: bold;
}
.form-textarea, {
  padding-top: 50px;
  width: 250px;
  margin: 0;
  display: inline-block;
}
.form-select{
  width: 100px;
  margin: 0;
  display: inline-block;
}
.form-send{
  display: block;
  text-align: center;
}
.form-send-button{
  display: block;
  text-align: center;
}
